[user]
	email = tarrsalah@gmail.com
	name = tarrsalah
[push]
	default = current
[core]
	excludesfile = /home/tarrsalah/.gitignore_global
	editor = vim
[includeIf "gitdir:~/src/emploitic/**"]
    path = .gitconfig_emploitic
[includeIf "gitdir:~/src/github.com/evercam/**"]
    path = .gitconfig_evercam