[user]
	email = tarrsalah@gmail.com
	name = Salah Eddine Taouririt

[includeIf "gitdir:~/work/**"]
    path = ~/src/dotfiles/.gitconfig.d/work

[push]
	default = current
[core]
	excludesfile = /home/tarrsalah/.gitignore_global
	editor = vim
[pull]
	default = current
	rebase = true
	ff = only
[github]
	user = tarrsalah
[diff]
	tool = meld
[alias]
	amend = commit --amend --no-edit
